@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0;
	width: 100vw;
	background-color: transparent;
	overflow-x: hidden;
}

/** Left Side
	*
	*/

.side_bar {
	background: center, no-repeat, url("./andy-holmes-LUpDjlJv4_c-unsplash.jpg");
	width: 33vw;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid yellow;
}

.side_bar_imgContainer {
	background: rgb(0, 0, 0);
	opacity: 0.65;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 220px;
	margin-bottom: 49px;
}

.side_bar_imgContainer > h1 {
	font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: white;
	font-size: 5.7rem;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.side_bar_imgContainer > .side_bar_img {
	width: min(150px, 100%);
	height: min(150px, 100%);
	z-index: -1;
}

.side_bar_credit {
	bottom: calc(100vw - 99.9vw);
	position: absolute;
	color: white;
}

/** Right Side
	*
	*/

.right_side {
	background-color: rgb(0, 0, 0);
	width: calc(100vw - 33vw);
	height: 100vh;
	position: relative;
	left: 33vw;
	margin: 0px;
	border: 2px solid salmon;
}

em {
	font-style: italic;
}

.right_side_text {
	flex-flow: column nowrap;
	color: white;
	margin-left: 28px;
	font-size: 2.5rem;
}

.right_side_formContainer {
	display: flex;
	width: 100%;
	height: 600px;
	background-color: white;
	border: 2px solid rgb(224, 1, 153);
}

.right_side_form {
	background-color: transparent;
	display: inherit;
	flex-direction: column;
	/* align-items: center; */
	height: 100%;
	width: 100%;
	margin: 0px 28px;
}

.right_side_form > h2 {
	color: black;
	font-size: 2.6rem;
	display: block;
	margin-left: 21px;
	width: 100%;
}

.right_side_form > button {
	/* margin-left: 21px; */
	width: 150px;
	display: flex;
	justify-content: center;
	padding: 7px;
	cursor: pointer;
	margin-top: 14px;
	margin-left: 21px;
	font-size: 1.4rem;
}

.right_side_controls {
	display: flex;
	flex-flow: row wrap;
	gap: 14px;
	width: 100%;
	align-items: flex-start;
	margin: 21px 0px;
}

.right_side_controlsInput {
	display: flex;
	flex-direction: column;
	margin: 7px 21px;
	width: 40%;
}
.right_side_controlsInput > label {
	font-size: 1.4rem;
}

.right_side_controlsInput > input {
	padding: 10px 7px;
	font-size: 1.4rem;
}

.right_side_controlsInput > input:focus {
	border: 2px solid blue;
}
